// Drahtesel Styles

.page-id-5570 figure.wp-block-gallery img:last
  display: none

.home .post-image.home-image
    background-position: bottom

// News lauftext style
.js-marquee-wrapper
    position: absolute
    background: yellow
    left: 0
    transform: rotate(-3deg)
    padding: 0.5em
    font-weight: bold
    top: 97px
