// Dreigaenger styles

.navbar-expand-lg .navbar-brand .img-fluid
  margin-bottom: 0.3rem !important

.home-page-wrapper
  padding-top: 0

  .post-image
    height: calc(100vh - 116px)

    .frontpage-button
      font-size: 1em
      padding-top: 1.2rem

      h2
        font-size: 1.6rem !important
        margin-bottom: 1rem !important
        margin-top: 1rem

  h1.entry-title
    display: block

// Wochenmenu
#carouselExampleControls
  background-color: $primary
  padding: 2em 1em
  min-height: 12em
  h2
    font-size: 1em
    text-align: center
    color: #fff
    text-transform: uppercase
    font-weight: 700
    letter-spacing: 0.12em
    margin-bottom: 1em
  .carousel-item
    color: $white
    padding: 0 2.5em

  svg
    fill: white

  .menu_text
    padding-top: 1em
    font-size: 1.2em
    letter-spacing: 0.08em
    line-height: 1.4em

  .menu_date
    font-size: 0.8em
    text-transform: uppercase
    letter-spacing: 0.12em
    font-weight: 300

  .menu_price
    font-size: 0.8em

  .carousel-control-next,
  .carousel-control-prev
    width: 10%

.menu_addon
  color: $primary
  font-size: 0.8em
  padding-top: 0.5em
  text-align: center
