// Sinnovativ styles

.navbar-expand-lg .navbar-brand .img-fluid
  margin-bottom: 0.3rem !important

.home-page-wrapper
  padding-top: 0

  .post-image
    height: calc(100vh - 116px)

    .frontpage-button
      font-size: 1em
      padding-top: 1.2rem

      h2
        font-size: 1.6rem !important
        margin-bottom: 1rem !important
        margin-top: 1rem

  h1.entry-title
    display: block

.page-template-sinnovativ-homepage .link-blocks
  .wp-block-column
    padding: 1em
    a
      color: $white
      &:hover
        color: $white
  .wp-block-column:nth-of-type(0)
    background-color: $wege
  .wp-block-column:nth-of-type(1)
    background-color: $drahtesel
  .wp-block-column:nth-of-type(2)
    background-color: $velafrica
