// Velafrica Styles

// Navigation
.dropdown-menu
    right: auto
    left: 0


.page-id-5164,
.page-id-6972,
.page-id-6971

  .blocks-gallery-grid
    margin: 0 !important
    padding: 0 !important

    .blocks-gallery-item
      margin: 0 


    .blocks-gallery-item:last-child
      display: none
