.container-animation
    width: 100%
    padding-right: 15px
    padding-left: 15px
    max-width: 1320px
    margin-right: auto
    margin-left: auto


hr
    display: block
    width: 100%
    border: 0px solid transparent
    height: 3px
    background-color: black
    margin: 100px 0px

.zwischentext
    width: 100vw
    background-color: $primary-color
    margin: 180px 0px 100px 0
    padding: 60px 100px 40px 100px
    color: $white
    h2
        color: $white


