#wirkungskette
    position: relative
    margin: 150px 0px 250px 0px
    svg
        display: block
        margin: 0 10px
        overflow: visible
        g#path > polygon
            opacity: 0
        image
            display: block
            position: relative
        +breakpoint(large)
            margin: 0 100px
        +breakpoint(xlarge)
            margin: 0 208px
    button
        color: white
        margin: 20px 0 0 0

.wk-text-box
    position: absolute
    width: 60vw
    +breakpoint(xlarge)
        width: 600px
    h2
        margin-top: 0px
        padding: 0px

.wk-text-box-1
    top: -1%
    left: 7.7%    
.wk-text-box-2
    top: 19%
    right: 0px
.wk-text-box-3
    top: 36%
    left: 4%
    width: 590px
.wk-text-box-4
    top: 52%
    left: 16%
    width: 640px
.wk-text-box-5
    top: 72%
    right: 11%
.wk-text-box-6
    top: 89%
    left: 6%





