#standorte
    margin: 40px 0 20px
    +breakpoint(medium)
        margin: 100px 0 200px
    svg
        display: block
        margin: 0
        overflow: visible
        image
            display: block
            position: relative
        .clickme
            cursor: pointer
        .standort-name
            opacity: 0
        //     transition: all 0.3s ease
        // .active
        //     .standort-name
        //         opacity: 1
        //         transform: translateX(10px)

        // #land-objekt
        //     path
        //         cursor: pointer
        //         transition: fill 0.2s
        //     path.active
        //         fill: $primary-color !important
        // #land-namen
        //     image
        //         cursor: pointer
        //     image.active

.poup-map
    display: flex
    flex-direction: column
    position: fixed
    //overflow: auto
    top: 3vh
    left: 5vw
    //background-color: #203669
    background-color: #f58556
    //background-color: rgb(255,240,233)
    width: 91vw
    height: 95vh
    transform: scale(0)
    opacity: 0
    //box-shadow: -10px 10px 0 0 rgba(151,177,199,0.5)
    border-radius: 5px
    padding: 0px 0 20px 0
    color: white
    z-index: 9099
    +breakpoint(medium)
        top: 17vh
        left: 50vw    
        margin-left: -250px
        width: 500px
        height: auto
        max-width: 95vw
        min-height: 200px
        max-height: calc(83vh - 40px)        
    h2
        color: white
        margin: 17px 0 18px 61px
        padding-right: 40px
        font-size: 18px
        font-weight: bold
        +breakpoint(medium)
            font-size: 22px
    a
        color: $primary-color
        text-decoration: underline
    p
        margin-bottom: 12px
    .standort-icon
        position: absolute
        width: 60px
        top: -10px
        left: -10px
        +breakpoint(medium)
            width: 90px
            top: -40px
            left: -40px            
    .standort-slider
        margin-bottom: 15px
        img
            width: 100%
        .slick-prev
            z-index: 90
            left: 10px
        .slick-next
            z-index: 91
            right: 10px
    .standort-text
        padding: 0px 20px 0px 15px
        p
            line-height: 1.4em
            font-size: 18px
        a
            color: white
            // &:hover
            //     font-weight: bold

    .map-icon-block-wrapper
        padding: 10px 15px 0px 15px
        display: flex
        flex-direction: column
        font-size: 18px
    .map-icon-block
        display: flex
        flex-direction: row
        align-items: center
        align-content: center
        margin-bottom: 5px
    .map-icon
        text-align: center
        width: 40px
        img
            height: 30px
    .map-number
        //text-align: center
        padding-left: 20px
        width: 80px
        font-weight: bold
    .scroll-wrapper
        overflow: auto



.close-popup
    position: absolute
    display: block
    height: 40px
    width: 40px
    right: 5px
    top: 5px
    cursor: pointer
    transition: transform 0.3s
    &:hover
        transform: scale(1.1)
    span
        display: block
        position: absolute
        background-color: white
        width: 5px
        height: 30px
        top: 9px
        right: 22px
        transform: rotate(45deg)
    span:last-child
        transform: rotate(-45deg)


    