// Global Styles


//
// Navigation
//

#wrapper-navbar
    margin-top: 0rem
    padding: 0 1rem 0 1rem 
    +breakpoint(medium)
        margin-top: 1rem

.navbar-expand-lg
    align-items: flex-end
    .navbar-brand img
        margin-bottom: 0rem
        +breakpoint(xlarge)
            margin-bottom: 1rem

#main-menu
    .dropdown-menu
        top: 96%        

+breakpoint(large)
    .navbar .navbar-nav li
        padding-left: 0.2rem
        a
            font-size: 1rem
            //padding-bottom: 0rem
    
        +breakpoint(xlarge)
            padding-left: 1.5rem
            a
                font-size: 1.2rem

// Sub-Navigation
.breadcrumb-container
    ul.nav
        padding-top: .5rem
        li
            &.current_page_item a
                box-shadow: inset 0 0 0 2px $primary
                font-weight: bold
                +breakpoint(large)
                    box-shadow: 0 0 0 0 transparent
        a
            margin: 0 0 .5rem 15px
            padding: .2rem .5rem
            border: 1px solid $primary
            +breakpoint(large)
                border: 1px solid transparent
                padding: .2rem .5rem .2rem 0




//
// WooCommerce
//

.woocommerce-ordering
    display: none

.woocommerce-categories
    padding: 0 !important
    margin: 0 !important
    .woocommerce-product-category-page
        display: inline-block
        margin: 0 1rem 1rem 0
        padding: 0
        // a
        //     padding: .5rem
        //     border: 2px solid $primary
        //     &:hover
        //         color: $secondary
        //         border-color: $secondary
        &::marker
            content: ""
        h2
            margin: 0



//
// Shitty template fixes
//

// Shitty Team Memeber plugin
.page-template-default
    .tmm .tmm_container:last-child .tmm_member
        float: left !important
    .tmm .tmm_container .tmm_member .tmm_photo
        width: 288px
        margin-top: 0
        // padding-bottom: 0 !important
        // margin-top: 0
        //     +breakpoint(medium)
    .tmm .tmm_member .tmm_textblock
            max-width: 288px
            height: 135px
