// Global Styles


//
// Navigation
//

.navbar
    padding: 0
    // +breakpoint(large)
    //     padding: .5rem 1rem

#wrapper-navbar
    margin-top: 0rem
    padding: 0 1rem 0 1rem 
    +breakpoint(large)
        margin-top: 1rem

.navbar-expand-lg
    align-items: flex-end
    .navbar-brand img
        margin: .5rem 0
        +breakpoint(large)
            margin: 0 0 1.2rem 0

#main-menu
    .dropdown-menu
        top: 96%        

+breakpoint(large)
    .navbar .navbar-nav li
        padding-left: 0.2rem
        margin-bottom: 1.6rem
        a
            font-size: 1rem
            //padding-bottom: 0rem
    
        +breakpoint(xlarge)
            padding-left: 1.5rem
            a
                font-size: 1.2rem

// Sub-Navigation    

.breadcrumb-container
    ul.nav
        flex-direction: column
        padding: 0
        margin: 1rem 0 1.2rem 0
        +breakpoint(large)
            flex-direction: row
            margin-bottom: 0
        li
            &.current_page_item a
                //box-shadow: 0 0 0 2px $primary
                background-color: $primary
                color: $white
                //font-weight: bold
                +breakpoint(large)
                    //box-shadow: 0 0 0 0 transparent
                    background-color: transparent
                    color: $secondary
                    //&font-weight: bold
                    //text-decoration: underline
        a
            @extend .subnav-button-style

//
// Bereichs Seite
// 

.post-image
    position: relative
.opening-time
    text-align: center
    background-color: $primary
    position: absolute
    color: white
    right: -4.5rem
    bottom: -4.5rem
    width: 20rem
    height: 20rem
    border-radius: 10rem
    padding: 3.5rem 1rem 0 1rem
    font-size: 1rem
    line-height: 1.5rem
    transform: scale(0.6)
    +breakpoint(large)
        transform: scale(1)
        right: 10%
        bottom: -15%        
    h3
        color: white
        font-size: 1.2rem
        margin: 0 0 1rem 0
        //line-height: 1.9rem
        text-transform: uppercase
    p
        margin-bottom: 1rem


//
// News
//

.news-container
    h3
        font-size: 1.3rem





//
// WooCommerce
//

// Archive
.woocommerce-products-header__title
    display: none

.woocommerce-ordering
    display: none

.shop-breadcrumb
    font-size: 1.8rem
    color: $secondary
    //a
        //text-decoration: underline

.woocommerce-categories
    padding: 0 !important
    margin: 0 0 2rem 0 !important
    .woocommerce-product-category-page
        display: block
        margin: 0 0 0.5rem 0
        padding: 0
        // a
        //     padding: .5rem
        //     border: 2px solid $primary
        //     &:hover
        //         color: $secondary
        //         border-color: $secondary
        &::marker
            content: ""
        a
            display: block
            text-align: left
        +breakpoint(large)
            display: inline-block
            margin: 0 1rem 0.5rem 0
            a
                display: inline-block
                text-align: center
    .shop-category-button
        //@extend .subnav-button-style

// Single
.wc-tabs
    display: none

.woocommerce button.button.alt
    background-color: $primary !important

.woocommerce-product-category-page
    .uncategorized
        display: none

// .single-product
//     .shop-breadcrumb
//         display: none

//
// Shitty template fixes
//

// Shitty Team Memeber plugin
.page-template-default
    .tmm .tmm_container:last-child .tmm_member
        float: left !important
    .tmm .tmm_container .tmm_member .tmm_photo
        width: 288px
        margin-top: 0
        // padding-bottom: 0 !important
        // margin-top: 0
        //     +breakpoint(medium)
    .tmm .tmm_member .tmm_textblock
            max-width: 288px
            height: 135px
